.mine__container {
    background-image: url("/assets/img/minedark-1920.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100rem;
    display: block;
    width: 100rem;
}

.mine__container__section {
    display: inline-block;
}

.mine__container__section__textbox--text--second,
.mine__container__section__textbox--text--third,
.mine__container__section__textbox--text--fourth {
    display: none;
}

.mine__container__section__textbox {
    margin-top: 2rem;
    background-color: var(--white);
    height: 16rem;
    width: 30rem;
    border: 0.3rem solid var(--black);
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.mine__container__section__textbox--text,
.mine__container__section__textbox--text--second,
.mine__container__section__textbox--text--third,
.mine__container__section__textbox--text--fourth {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    font-size: 1.6rem;
    margin: 1rem;
}
.mine__container__section__textbox--button--second,
.mine__container__section__textbox--button--third{
    display: none;
}

.mine__container__section__textbox--button,
.mine__container__section__textbox--button--second,
.mine__container__section__textbox--button--third {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    position: absolute;
    bottom: 5%;
    right: 2%;
    width: 4rem;
    height: 4rem;
    border: none;
    background: white;
    font-size: 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.mine__container__section__textbox--button:hover,
.mine__container__section__textbox--button--second:hover,
.mine__container__section__textbox--button--third:hover {
    background: var(--button-hover-orange);
    color: var(--white);
}

/*Support Query*/
@supports (height: 100vh) {
    .mine__container{
        height: 100vh;
    }
}

@supports (width: 100vw) {
    .mine__container{
        width: 100vw;
    }
}

@supports (display: flex) {
    .mine__container__section {
        display: flex;
        justify-content: center;
    }
}

@supports (display: grid) {
    .mine__container{
        display: grid;
    }
}

/* Media queries */
@media (min-width:600px) {
    .mine__container__section__textbox {
        height: 18rem;
        width: 50rem;
    }

    .mine__container__section__textbox--text,
    .mine__container__section__textbox--text--second,
    .mine__container__section__textbox--text--third,
    .mine__container__section__textbox--text--fourth {
        font-size: 2.4rem;
    }
}

/* Keyframes - animaties */
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
