.mine__container {
    background-image: url("../img/minedark-1920.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    display: grid;
    width: 100vw;
}

.mine__container__section {
    display: flex;
    justify-content: center;
}

.mine__container__section__textbox--text--second,
.mine__container__section__textbox--text--third,
.mine__container__section__textbox--text--fourth {
    display: none;
}

.mine__container__section__textbox {
    margin-top: 2rem;
    background-color: white;
    height: 16rem;
    width: 30rem;
    border: 0.3rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.mine__container__section__textbox--text,
.mine__container__section__textbox--text--second,
.mine__container__section__textbox--text--third,
.mine__container__section__textbox--text--fourth {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    font-size: 1.4rem;
    margin: 1rem;
}
.mine__container__section__textbox--button--second,
.mine__container__section__textbox--button--third{
    display: none;
}

.mine__container__section__textbox--button,
.mine__container__section__textbox--button--second,
.mine__container__section__textbox--button--third {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    position: absolute;
    bottom: 5%;
    right: 1%;
    width: 4rem;
    height: 4rem;
    border: none;
    background: white;
    font-size: 3rem;
    cursor: pointer;
}

.mine__container__section__textbox--button:hover,
.mine__container__section__textbox--button--second:hover,
.mine__container__section__textbox--button--third:hover {
    background: var(--button-hover-orange);
    color: white;
}

@media (min-width:600px) {
    .mine__container__section__textbox {
        height: 18rem;
        width: 50rem;
    }

    .mine__container__section__textbox--text,
    .mine__container__section__textbox--text--second,
    .mine__container__section__textbox--text--third,
    .mine__container__section__textbox--text--fourth {
        font-size: 2.4rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
