.mine__container {
    background-image: url("../img/mine-1920.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100rem;
    display: block;
    width: 100rem;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.mine__container__section {
    display: inline-block;
}

.mine__container__section__textbox--second {
    display: none;
}

.mine__container__section__textbox {
    margin-top: 2rem;
    background-color: var(--white);
    height: 16rem;
    width: 30rem;
    border: 0.3rem solid var(--black);
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
}

.mine__container__section__textbox--text,
.mine__container__section__textbox--text--second {
    font-size: 1.4rem;
    margin: 1rem;
}

.mine__container__section__textbox--button {
    position: absolute;
    bottom: 5%;
    right: 1%;
    width: 4rem;
    height: 4rem;
    border: none;
    background: var(--white);
    font-size: 3rem;
    cursor: pointer;
}

.mine__container__section__textbox--button:hover {
    background: var(--button-hover-orange);
    color: white;
}

.square {
    width: 15rem;
    height: 15rem;
    background-color: transparent;
    position: absolute;
    right: 7%;
    bottom: 20%;
    cursor: pointer;
}
.modal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 5rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--black);
    opacity: 1;
}

/* Modal Content */
.modal-content {
    left: 0;
    right: 0;
    background-color: var(--modal-white);
    margin: auto;
    padding: 2rem;
    border: 0.1rem solid var(--grey);
    border-radius: 2rem;
    margin-top: 2rem;
    width: 80%;
    height: 80%;
    color: var(--white);
    background-color: var(--black);
    font-size: 2rem;
    line-height: 2.5rem;
}

.modal-button {
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
    width: 16rem;
    height: 5rem;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: var(--bg-color-dark);
    color: white;
    border: 0.4rem solid  var(--button-hover-orange);
}

.modal-button:hover {
    background-color: var(--button-hover-orange);
    color: var(--white);
    border: 0.3rem solid  var(--white);
}

@keyframes blink {
    0%{opacity: 0;}
    50%{opacity: .2;}
    100%{opacity: 0.4;}
}

/*Support Query*/
@supports (height: 100vh) {
  .mine__container{
    height: 100vh;
  }
}

@supports (width: 100vw) {
  .mine__container{
    width: 100vw;
  }
}

@supports (display: flex) {
  .mine__container__section {
      display: flex;
      justify-content: center;
  }
}

@supports (display: grid) {
  .mine__container{
    display: grid;
  }

}
@media (min-width: 375px) and (min-height: 667px) {
    .square {
        width: 18rem;
        height: 15rem;
        right: 7%;
        bottom: 21%;
    }

    .modal-content {
        height: 60%;
    }
}

@media (min-width: 375px) and (min-height: 812px) {
    .square {
        width: 21rem;
        height: 18rem;
        right: 9%;
        bottom: 21%;
    }

    .modal-content {
        height: 50%;
    }
}

@media (min-width: 414px) {
    .square{
        width: 20rem;
        height: 17rem;
        right: 7%;
        bottom: 21%;
    }

    .modal-content {
        height: 50%;
    }
}

@media (min-width:600px) {
    .mine__container__section__textbox {
        height: 18rem;
        width: 50rem;
    }

    .mine__container__section__textbox--text,
    .mine__container__section__textbox--text--second,
    .mine__container__section__textbox--text--third,
    .mine__container__section__textbox--text--fourth {
        font-size: 2.4rem;
    }
}

@media (min-width: 768px) {
    .square {
        width: 27rem;
        height: 24rem;
        right: 6%;
        bottom: 21%;
    }

    .modal-content {
        height: 50%;
        font-size: 3rem;
        line-height: 5rem;
    }

    .modal-button {
        width: 21rem;
        height: 8rem;
        font-size: 2.4rem;
    }
}

@media (min-width: 1024px) {
    .square {
        width: 35rem;
        height: 30rem;
        right: 6%;
        bottom: 21%;
    }

    .modal-content {
        max-width: 60%;
        height: 50%;
    }
}

@media (min-width: 1224px) {
    .square {
        width: 40rem;
        height: 35rem;
        right: 4%;
        bottom: 6%;
    }

    .modal-content {
        max-width: 60%;
        height: 35%;
        font-size: 3rem;
        line-height: 5rem;
    }
}
