/*Styling second screen. In the Phone store*/
body {
  overflow-y: hidden;
}

.container {
  background-image: url("../img/applestore.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  width: 100vw;
}

.section__textbox {
  background-color: white;
  border: 0.3rem solid black;
  height: 21rem;
  width: 35rem;
}

.section__textbox > p {
  font-size: 1.4rem;
  margin: 1rem;
}

.section__textbox--question {
  font-weight: bold;
}

/* Buttons */
.button--next {
  bottom: 5%;
  right: 3%;
  width: 11rem;
  height: 4rem;
  background-color: white;
  font-size: 3rem;
  cursor: pointer;
}

.button--next:hover {
    background-color: var(--button-hover-orange);
    color: white;
}

.container__character{
  transition: 0.5s all;
}

.container__character--head {
  height: 12rem;
  width: 12rem;
  position: absolute;
  background-color: var(--character-head-color);
  border-radius: 50%;
  bottom: 12%;
  left: 35%;
  transform: translate(-50%, -50%);
  transition: 0.8s;
}

.container__character--body {
  height: 25rem;
  width: 20rem;
  position: absolute;
  background-color: var(--character-body-color);
  border-radius: 50%;
  top: 100%;
  left: 35%;
  transform: translate(-50%, -50%);
  transition: 0.8s;
}

/* Tablet view */
@media (min-width: 768px) {
  .section__textbox{
    height: 20rem;
    width: 70rem;
  }
  .section__textbox > p {
    font-size: 2rem;
    margin: 1.4rem;
  }

  /* Next button */
  .button--next {
    height: 6rem;
    width: 16rem;
    font-size: 5rem;
  }
  .section__textbox{
    width: 35rem;
    height: 20rem;
  }

  .button--next > p {
    font-size: 2rem;
  }

  .fas {
    font-size: 3rem;
  }

  /* Persoon */
  .container__character--head {
    height: 20rem;
    width: 20rem;
    bottom: 16%;
    left: 30%;
  }
  .container__character--body {
    height: 40rem;
    width: 35rem;
    top:100%;
    left: 30%;
  }
}

/* Klein PC scherm */
@media (min-width: 1024px) {
  .section__textbox {
    height: 23rem;
    width: 90rem;
  }

  .section__textbox > p {
    font-size: 2.5rem;
  }

  /* Button next */
  .button--next {
    height: 6rem;
    width: 18rem;
  }

  .button--next > p {
    font-size: 2.5rem;
  }

  .fas {
    font-size: 3rem;
  }
}

/* Groot PC scherm */
@media (min-width: 1254px) {
  .container__character--head {
    height: 20rem;
    width: 20rem;
    bottom: 19%;
    left: 30%;
  }
  .container__character--body {
    height: 45rem;
    width: 40rem;
    top:100%;
    left: 30%;
  }
}
